<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personajes</title>
</head>
<body>
    
    <h1>Resultados de la busqueda:</h1>

    <ul>
        <% data.forEach(character => { %>
         <li> 
            <h3><%= character.name %></h3>
            <img src=<%= character.image %>  alt=<%= character.name %>   >
            <p><a href=<%= `/character/${character.id}` %>  >Ver más</a></p>
        </li>
        <% }) %>
    </ul>

</body>
</html>